/* indext elements */
body {
    font-family: 'Padauk', sans-serif;
    color: red;
}

section {
    width: 80%;
}

h1 {
    text-align: center;
}


p {
    
    font-size: large;
    padding: 5px;
    margin: 5px;
}
img {
    width: 80%;
    margin: 5px;
}
 
ul {
    font-size: larger;
}
/* classes */

.span1{
    color:rgb(40, 118, 145);
}

.span2 {
    font-weight: bold;
    font-size:28px;
}

.span3 {
    font-weight: bold;
    color: black;
}